In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [18]:
hechos = pd.read_parquet('../Datasets/hechos.parquet')
victimas = pd.read_parquet('../Datasets/victimas.parquet')
victimasf = pd.read_parquet('../Datasets/victimasf.parquet')
poblacion = pd.read_parquet('../Datasets/poblacion.parquet')
comunas = pd.read_parquet('../Datasets/comunas.parquet')

In [4]:
comunas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID_COMUNA  15 non-null     int32
 1   COMUNA     15 non-null     object
dtypes: int32(1), object(1)
memory usage: 308.0+ bytes

In [3]:
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             667 non-null    int32
 1   N_VICTIMAS     667 non-null    int8
 2   FECHA          667 non-null    datetime64[ns]
 3   AAAA           667 non-null    int32
 4   MM             667 non-null    int8
 5   DD             667 non-null    int8
 6   TIPO_DE_CALLE  667 non-null    category
 7   ID_COMUNA      667 non-null    int8
 8   pos x          667 non-null    object
 9   pos y          667 non-null    object
 10  VICTIMA        667 non-null    category
 11  ACUSADO        667 non-null    category
 12  FH             667 non-null    category
 13  FATAL          667 non-null    int8
dtypes: category(4), datetime64[ns](1), int32(2), int8(5), object(2)
memory usage: 28.0+ KB

In [5]:
victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       53 non-null     int32
 1   ROL      53 non-null     category
 2   VICTIMA  53 non-null     category
 3   SEXO     53 non-null     category
 4   EDAD     53 non-null     int32
dtypes: category(3), int32(2)
memory usage: 1.4 KB

In [6]:
victimasf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 635 entries, 0 to 634
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   635 non-null    int32
 1   ROL                  635 non-null    category
 2   VICTIMA              635 non-null    category
 3   SEXO                 635 non-null    category
 4   EDAD                 635 non-null    int32
 5   FECHA_FALLECIMIENTO  635 non-null    datetime64[ns]
dtypes: category(3), datetime64[ns](1), int32(2)
memory usage: 12.6 KB

In [7]:
poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_COMUNA          15 non-null     int32
 1   SUPERFICIE EN KM2  15 non-null     float64
 2   POBLACIÓN TOTAL    15 non-null     int64
 3   DENSIDAD HAB/KM2   15 non-null     float64
dtypes: float64(2), int32(1), int64(1)
memory usage: 548.0 bytes

In [9]:
# Establece la conexión a tu base de datos MySQL
# Reemplaza 'usuario', 'contraseña', 'nombre_base_de_datos' y 'host' con tus propias credenciales
engine = create_engine('mysql+mysqlconnector://root:Sql1234@127.0.0.1/pi_da')

In [30]:
comunas.to_sql(name='comunas', con=engine, if_exists='append', index=False)

15

In [32]:
hechos.rename(columns={'ID':'ID_HECHOS','pos x':'LATITUD','pos y':'LONGITUD','AAAA':'ANIO','MM':'MES','DD':'DIA'}, inplace=True)

In [20]:
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID_HECHOS      667 non-null    int32
 1   N_VICTIMAS     667 non-null    int8
 2   FECHA          667 non-null    datetime64[ns]
 3   ANIO           667 non-null    int32
 4   MES            667 non-null    int8
 5   DIA            667 non-null    int8
 6   TIPO_DE_CALLE  667 non-null    category
 7   ID_COMUNA      667 non-null    int8
 8   LATITUD        667 non-null    object
 9   LONGITUD       667 non-null    object
 10  VICTIMA        667 non-null    category
 11  ACUSADO        667 non-null    category
 12  FH             667 non-null    category
 13  FATAL          667 non-null    int8
dtypes: category(4), datetime64[ns](1), int32(2), int8(5), object(2)
memory usage: 28.0+ KB

In [33]:
hechos.to_sql(name='hechos', con=engine, if_exists='append', index=False)

667

In [34]:
victimas.rename(columns={'ID':'ID_HECHOS'}, inplace=True)

In [35]:
victimas.to_sql(name='victimas', con=engine, if_exists='append', index=False)

53

In [36]:
victimasf.rename(columns={'ID':'ID_HECHOS'}, inplace=True)

In [37]:
victimasf.to_sql(name='victimasf', con=engine, if_exists='append', index=False)

635

In [38]:
poblacion.rename(columns={'SUPERFICIE EN KM2':'SUPERFICIE_KM2','POBLACIÓN TOTAL':'POBLACION_TOTAL','DENSIDAD HAB/KM2':'DENSIDAD_HAB_KM2'}, inplace=True)

In [39]:
poblacion.to_sql(name='poblacion', con=engine, if_exists='append', index=False)

15